.box #pro-2 {
    background-image: url(../image/profile/alison-profile.jpg);
    background-position-x: center;
    background-position-y: center;
}
.box #pro-1 {
    background-image: url(../image/profile/alexandra-pro.jpg);
    background-position-x: center;
    background-position-y: center;
}
.box #pro-3 {
    background-image: url(../image/profile/amber-heard-pro.jpg);
    background-position-x: center;
    background-position-y: center;
}
.box #pro-4 {
    background-image: url(../image/profile/angelina-jolie-pro.jpg);
    background-position-x: center;
    background-position-y: center;
}
.box #pro-5 {
    background-image: url(../image/profile/anna-de-armas-pro.jpg);
    background-position-x: center;
    background-position-y: center;
}
.box #pro-6 {
    background-image: url(../image/profile/anne-hathaway-pro.jpg);
    background-position-x: center;
    background-position-y: center;
}
.box #pro-7 {
    background-image: url(../image/profile/barbara-palvin-pro.jpg);
    background-position-x: center;
    background-position-y: center;
}
.box #pro-8 {
    background-image: url(../image/profile/cara-delevingne-pro.jpg);
    background-position-x: center;
    background-position-y: center;
}
.box #pro-9 {
    background-image: url(../image/profile/cobie-smulder-pro.jpg);
    background-position-x: center;
    background-position-y: center;
}
.box #pro-10 {
    background-image: url(../image/profile/dakota-fanning-pro.jpg);
    background-position-x: center;
    background-position-y: center;
}
.box #pro-11 {
    background-image: url(../image/profile/elle-fanning-pro.jpg);
    background-position-x: center;
    background-position-y: center;
}
.box #pro-12 {
    background-image: url(../image/profile/emilia-clarke-pro.jpg);
    background-position-x: center;
    background-position-y: center;
}
.box #pro-13 {
    background-image: url(../image/profile/emma-roberts-pro.jpg);
    background-position-x: center;
    background-position-y: center;
}
.box #pro-14 {
    background-image: url(../image/profile/emma-watson-pro.jpg);
    background-position-x: center;
    background-position-y: center;
}
.box #pro-15 {
    background-image: url(../image/profile/gal-gadot-pro.jpg);
    background-position-x: center;
    background-position-y: center;
}
.box #pro-16 {
    background-image: url(../image/profile/jennifer-lawrence-pro.jpg);
    background-position-x: center;
    background-position-y: center;
}
.box #pro-17 {
    background-image: url(../image/profile/kristen-stewart-pro.jpg);
    background-position-x: center;
    background-position-y: center;
}
.box #pro-18 {
    background-image: url(../image/profile/lily-collins-pro.jpg);
    background-position-x: center;
    background-position-y: center;
}
.box #pro-19 {
    background-image: url(../image/profile/margot-robbie-pro.jpg);
    background-position-x: center;
    background-position-y: center;
}
.box #pro-20 {
    background-image: url(../image/profile/megan-fox-pro.jpg);
    background-position-x: center;
    background-position-y: center;
}
.box #pro-21 {
    background-image: url(../image/profile/naomi-scott-pro.jpg);
    background-position-x: center;
    background-position-y: center;
}
.box #pro-22 {
    background-image: url(../image/profile/natalie-portman-pro.jpg);
    background-position-x: center;
    background-position-y: center;
}
.box #pro-23 {
    background-image: url(../image/profile/olga-kurylenko-pro.jpg);
    background-position-x: center;
    background-position-y: center;
}
.box #pro-24 {
    background-image: url(../image/profile/samara-weaving-pro.jpg);
    background-position-x: center;
    background-position-y: center;
}
.box #pro-25 {
    background-image: url(../image/profile/taylor-hill-pro.jpg);
    background-position-x: center;
    background-position-y: center;
}
.box #pro-26 {
    background-image: url(../image/profile/chloe-bennet-pro.jpg);
    background-position-x: center;
    background-position-y: center;
}
.box #pro-27 {
    background-image: url(../image/profile/chloe-grace-pro.jpg);
    background-position-x: center;
    background-position-y: center;
}
.box #pro-28 {
    background-image: url(../image/profile/elyse-levesque-pro.jpg);
    background-position-x: center;
    background-position-y: center;
}
.box #pro-29 {
    background-image: url(../image/profile/jessica-alba-pro.jpg);
    background-position-x: center;
    background-position-y: center;
}
.box #pro-30 {
    background-image: url(../image/profile/kate-upton-pro.jpg);
    background-position-x: center;
    background-position-y: center;
}
.box #pro-31 {
    background-image: url(../image/profile/kate-winslate-pro.jpg);
    background-position-x: center;
    background-position-y: center;
}
.box #pro-32 {
    background-image: url(../image/profile/kaya-scoldelario-pro.jpg);
    background-position-x: center;
    background-position-y: center;
}
.box #pro-33 {
    background-image: url(../image/profile/mila-kunis-pro.jpg);
    background-position-x: center;
    background-position-y: center;
}
.box #pro-34 {
    background-image: url(../image/profile/sarah-bolger-pro.jpg);
    background-position-x: center;
    background-position-y: center;
}
.box #pro-35 {
    background-image: url(../image/profile/nell-tiger-pro.jpg);
    background-position-x: center;
    background-position-y: center;
}
.box #pro-36 {
    background-image: url(../image/profile/doutzen-kroes-pro.jpg);
    background-position-x: center;
    background-position-y: center;
}
.box #pro-37 {
    background-image: url(../image/profile/camilla-belle-pro.jpg);
    background-position-x: center;
    background-position-y: center;
}
.box #pro-38 {
    background-image: url(../image/profile/bella-throne-pro.jpg);
    background-position-x: center;
    background-position-y: center;
}
.box #pro-39 {
    background-image: url(../image/profile/bella-hadid-pro.jpg);
    background-position-x: center;
    background-position-y: center;
}
.box #pro-40 {
    background-image: url(../image/profile/gigi-hadid-pro.jpg);
    background-position-x: center;
    background-position-y: center;
}
.box #pro-41 {
    background-image: url(../image/profile/vanessa-kirby-pro.jpg);
    background-position-x: center;
    background-position-y: center;
}






















